[Desktop Entry]
Type=Application
Name=Aether Text Editor
Name[ar]=محرر نصوص أيثر
GenericName=Text & Code Editor
GenericName[ar]=محرر النصوص والشيفرات
Comment=Lightweight tabbed text editor with syntax highlighting
Comment[ar]=محرر نصوص خفيف الوزن مع تمييز الصيغة
Exec=aether-text %F
Icon=accessories-text-editor
Terminal=false
Categories=Utility;TextEditor;Development;
MimeType=text/plain;text/x-python;text/markdown;text/html;
StartupNotify=true
