[Desktop Entry]
Type=Application
Name=Aether Document Viewer
Name[ar]=عارض مستندات أيثر
GenericName=PDF & Document Reader
GenericName[ar]=قارئ مستندات PDF
Comment=View PDF documents, presentations, and books
Comment[ar]=عرض وتصفح مستندات ومطبوعات PDF والكتب
Exec=aether-pdf %F
Icon=x-office-document
Terminal=false
Categories=Office;Viewer;
MimeType=application/pdf;application/postscript;
StartupNotify=true
