[Desktop Entry]
Type=Application
Name=Aether Software Updater
Name[ar]=محدث برمجيات أيثر
GenericName=Update Manager
GenericName[ar]=مدير التحديثات
Comment=Update system packages and security patches
Comment[ar]=تحديث حزم النظام والترقيعات الأمنية
Exec=aether-updater
Icon=system-software-update
Terminal=false
Categories=System;PackageManager;
StartupNotify=true
