[Desktop Entry]
Name=System Updater & Recovery
Name[ar]=محدث النظام ونقاط الاستعادة
Comment=Manage software updates and restore system snapshots
Comment[ar]=إدارة تحديثات النظام واستعادة اللقطات المحفوظة
Exec=aether-updater
Icon=system-software-update
Terminal=false
Type=Application
Categories=System;Settings;
StartupNotify=true
