[Desktop Entry]
Type=Application
Name=Aether Files
Name[ar]=ملفات أيثر
GenericName=File Manager
GenericName[ar]=مدير الملفات
Comment=Browse files, folders, and storage devices
Comment[ar]=تصفح الملفات والمجلدات ووحدات التخزين
Exec=aether-files %U
Icon=system-file-manager
Terminal=false
Categories=System;FileManager;Utility;Core;
MimeType=inode/directory;
StartupNotify=true
