[Desktop Entry]
Type=Application
Name=Aether Settings
Name[ar]=إعدادات أيثر
GenericName=System Settings
GenericName[ar]=إعدادات النظام
Comment=Configure system, hardware, and preferences
Comment[ar]=تخصيص النظام والعتاد والتفضيلات
Exec=aether-settings
Icon=org.gnome.Settings
Terminal=false
Categories=Settings;HardwareSettings;DesktopSettings;
StartupNotify=true
