[Desktop Entry]
Type=Application
Name=Aether Calendar
Name[ar]=تقويم أيثر
GenericName=Calendar & Agenda
GenericName[ar]=التقويم والمواعيد
Comment=View calendar dates and manage daily agenda
Comment[ar]=عرض التقويم وإدارة المواعيد اليومية
Exec=aether-calendar
Icon=x-office-calendar
Terminal=false
Categories=Utility;Office;Calendar;
StartupNotify=true
