[Desktop Entry]
Type=Application
Name=Aether Software Center
Name[ar]=مركز برمجيات أيثر
GenericName=Software Center
GenericName[ar]=مركز البرمجيات
Comment=Discover, install, and manage applications
Comment[ar]=استكشاف وتثبيت وإدارة التطبيقات والبرمجيات
Exec=aether-software
Icon=software-store
Terminal=false
Categories=System;PackageManager;
Keywords=software;store;apps;packages;flatpak;apt;
StartupNotify=true
