[Desktop Entry]
Type=Application
Name=Aether Calculator
Name[ar]=حاسبة أيثر
GenericName=Calculator
GenericName[ar]=الآلة الحاسبة
Comment=Perform basic and scientific calculations
Comment[ar]=إجراء العمليات الحسابية الأساسية والعلمية
Exec=aether-calc
Icon=accessories-calculator
Terminal=false
Categories=Utility;Calculator;
StartupNotify=true
