[Desktop Entry]
Type=Application
Name=Aether Screenshot
Name[ar]=لقطة شاشة أيثر
GenericName=Screenshot Tool
GenericName[ar]=أداة التقاط الشاشة
Comment=Capture desktop, window, or rectangular region screenshots
Comment[ar]=التقاط صور لسطح المكتب أو النوافذ أو منطقة محددة
Exec=aether-screenshot
Icon=applets-screenshooter
Terminal=false
Categories=Utility;Graphics;
StartupNotify=true
