[Desktop Entry]
Type=Application
Name=Aether Terminal
Name[ar]=طرفية أيثر
GenericName=Terminal Emulator
GenericName[ar]=محاكي الطرفية
Comment=Fast and lightweight GPU-accelerated terminal emulator
Comment[ar]=محاكي طرفية سريع وخفيف الوزن مدعوم بتسريع الرسوميات
Exec=aether-terminal
Icon=utilities-terminal
Terminal=false
Categories=System;TerminalEmulator;
Keywords=terminal;shell;prompt;command;cli;
StartupNotify=true
