[Desktop Entry]
Type=Application
Name=Install AetherOS
Name[ar]=تثبيت نظام أيثر
GenericName=System Installer
GenericName[ar]=مثبت النظام
Comment=Install AetherOS permanently to your computer
Comment[ar]=تثبيت نظام تشغيل أيثر بشكل دائم على جهازك
Exec=aether-installer --gui
Icon=system-installer
Terminal=false
Categories=System;
StartupNotify=true
